.community
  text-align center

  &__title
    margin 0
    padding 204px 0 42px

  &__wrapper
    position relative
    width 90%
    margin 0 auto
    padding-bottom 51px

  &__image
    width 100%
    position relative
    z-index 300

  &__chat
    border 1px solid red
    width 76%
    left 12%
    height 43vw
    position absolute
    z-index 200
    top 6%

+below(840px)
  .community
    display none
