html,
body
  padding 0
  margin 0
  box-sizing border-box
  font-family 'Open Sans', sans-serif


.global
  &__title
    margin 0
    font-size 36px
    font-weight 300
    line-height 1.5
    color #303f9f
    text-transform uppercase
    text-align center
  &__title--white
    color #fff
