.profits
  border-radius 4px
  background-color #f5f8fc
  text-align center

  &__title
    padding 130px 0 77px

  &__wrapper
    display flex
    justify-content space-around
    padding-bottom 126px

  &__text
    font-size 32px
    font-weight 300
    line-height 1.31
    color #273b6d
    padding 0 55px

+below(1080px)
  .profits
    &__text
      padding 0 15px

+below(840px)
  .profits
    &__title
      padding 65px 0 35px
    &__wrapper
      display block
      padding-bottom 60px
