section.community
  h1.global__title.community__title Become part of OUR COMMUNITY
  div.community__wrapper
    img.community__image(src="img/community/notebook.png" alt="notebook")
    div.community__chat
