section.footer
  h1.global__title.global__title--white.footer__title Featured in
  div.footer__press
    a(href="http://www.forbes.com/")
      img(src="img/footer/forbes-logo.svg" alt="forbes")
    a(href="https://techcrunch.com/")
      img(src="img/footer/tc-logo.svg" alt="techCrunch")
    a(href="http://www.bbc.com/")
      img(src="img/footer/bbc-logo.png" alt="BBC")
    a(href="http://www.wsj.com/")
      img(src="img/footer/logo_wsj.svg" alt="wallStreetJ")
    a(href="http://www.usatoday.com/")
      img(src="img/footer/usa-today-logo.svg" alt="usaToday")
  div.footer__info
    div.footer__name
      img(src="img/footer/CodersTrust_white_logo.svg" alt="logo")
      p.footer__text Vestibulum id ligula porta felis euismod  semper. Sed posuere consectetur est at lobortis.
      p.footer_text © Copyright 2016	coderstrust.
    ul.footer__lists
      li.footer__list.footer__list--first Company
      li.footer__list
        a(href="#") About us
        a(href="#") Principles
        a(href="#") Success stories
    ul.footer__lists
      li.footer__list.footer__list--first PLATFORM
      li.footer__list
        a(href="#") Learn & Earn path
        a(href="#") Pricing
    ul.footer__lists
      li.footer__list.footer__list--first HELLO
      li.footer__list.footer__list--inline
        a(href="https://facebook.com")
          img(src="img/footer/fb.svg" alt="facebook")
        a(href="https://twitter.com")
          img(src="img/footer/twitter.svg" alt="twitter")
        a(href="https://linkedin.com")
          img(src="img/footer/linkedin.svg" alt="linkedin")
