section.free-trial
  section.free-trial__top
    div.free-trial__gradient
    div.free-trial__wrapper
      h1.free-trial__title FREE TRIAL
      p.free-trial__text Our free Trial course is designed in a way to give you a taste of how we go about learning.
      video.free-trial__video(width="100%" height="520px" id="youtube1" preload="none")
        source(type="video/youtube" src="https://www.youtube.com/watch?v=V_Of1UD36JI")
  section.free-trial__bottom
    a(href="#").free-trial__button
      p Now, let’s get the party started!

      
