section.path
  h1.global__title.global__title--white.path__title Choose your path
  div.path__wrapper
    div.path__coder.path__freelancer
      img.path__image(src="img/path/mountain_icon.svg" alt="mountain")
      img.path__image(src="img/path/freelancer_badge.svg" alt="freelancer")
      p.path__text Become a Rockstar Freelancer
    div.path__coder.path__frontend
      img.path__image(src="img/path/mountain_icon.svg" alt="mountain")
      img.path__image(src="img/path/freelancer_badge.svg" alt="freelancer")
      img.path__image(src="img/path/coder_badge.svg" alt="coder")
      p.path__text Become a Front-End Web Designer & Freelancer
  
